<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
    <!--#employeeForm is a local reference variable here -->
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key">
    <div class="form-group">
        <label class="label"><strong>Name</strong></label>
        <input class="form-control" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Enter Your full Name"
            required>
        <!-- #name is a local reference for an input model -->
    </div>
    <div class="form-group">
        <label class="label"><strong>Position</strong></label>
        <input class="form-control" name="position" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Enter Your position"
        required>
    </div>
    <div class="form-group">
        <label class="label"><strong>Office</strong></label>
        <input class="form-control" name="office" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Enter Your Office"
        required>
    </div>
    <div class="form-group">
        <label class="label"><strong>Salary</strong> </label>
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-dollar"></i>
            </div>
            <input class="form-control" type="number" name="salary" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Enter Your Salary"
            required>

        </div>

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!employeeForm.valid">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Submit</button>
        <button type="button" class="btn btn-danger" *ngIf="employeeService.selectedEmployee.$key!=null" (click)="onDelete(employeeForm)">
            <i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
        <button type="button" class="btn btn-info" (click)="resetForm()">
            <i class="fa fa-repeat" aria-hidden="true"></i> Reset</button>
    </div>
</form>